# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# 编译中间文件
*.ilk
*.obj

# 编译文件
*.pdb
*.exe
//*.lib
*.dll
*.pch

# log文件
*.log

# Debug目录文件
*.lastbuildstate
*.tlog
*.idb

# vc文件
//*.db
//*.opendb
//*.filters

# 
*.txt
//*.suo
*.ipch

*.iobj
*.iobj
*.iobj
x64/Release/Apollo.iobj
x64/Release/Apollo.ipdb
x64/Release/Apollo.ipdb

packages
.vs
